{
    "jobs": [{
            "functionLocation": "/updateTrends.jsw",
            "functionName": "updateTrends",
            "description": "Update the trends database every day at Midnight",
            "executionConfig": {
                "time": "23:00"
            }
        },
        {
            "functionLocation": "/updateTrends.jsw",
            "functionName": "downloadCollections",
            "description": "Update the collections every day at Midnight",
            "executionConfig": {
                "time": "23:00"
            }
        },
        {
            "functionLocation": "/updateTrends.jsw",
            "functionName": "DynamicUploadSystem",
            "description": "Runs the Dynamic Upload System once an hour.",
            "executionConfig": {
                "cronExpression": "0 * * * *"
            }
        }
    ]
}
